*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: space, monospace;

}

body{
    font-size: 100%;
    list-style-type: none;
}

h1 {
    font-family: inconsolata, monospace;
    font-size: 1em;
    padding: 1em 5em;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 32px;
    padding: 5em;
}

.logo{
    margin: auto;
    padding: 3em;
}

img{
    width: 100%;
}

div.content {
    text-align: justify;
    margin: auto;
    color: #333333;
    padding: 0 5em;
    letter-spacing: -3.5%;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 94.78px;
    margin-bottom: 1em;
}

.text{
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;
    margin-bottom: 2em;
    width: 60%;
}

button {
    background-color: #333333;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 2em 3em;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    color: #BDBDBD;
    text-align: center;   
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer {
    padding: 1em 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    h1 {
        font-size: 1.5em;
    }
    .grid {
        grid-template-columns: 100%;
    }

    img{
        width: 100%;
    }

    div.content{
        text-align: left;
    }

    .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        margin-bottom: 1em;
    }

    .text{
        font-size: 26.66px;
        line-height: 35px;
        width: 100%;
        margin-bottom: 2em;
    }

    footer {
        position: relative;
        width: 100%;
    }
    
}

@media screen and (min-width: 375px) {
    h1 {
        font-size: 1.5em;
    }
    .grid {
        grid-template-columns: 100%;
    }

    img{
        width: 100%;
    }

    div.content{
        text-align: left;
    }

    .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        margin-bottom: 1em;
    }

    .text{
        font-size: 26.66px;
        line-height: 35px;
        width: 100%;
        margin-bottom: 2em;
    }

    footer {
        position: relative;
        width: 100%;
    }

}