html {
    font-family: space-mono, monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

.grid {
    display: grid;
    grid-template-columns: 50% 40%;
}
.image{
    text-align: center;
    top: 265px;
    left: 77px;
}
img{
    width: 540px;
}

div.content {
    text-align: left;
}

.content .title {
    color: #333333;
    font-weight: 700;
    font-size: 64px;
    line-height: 94.78px;
}

.content .text{
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;
}