html {
    font-family: space, monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
    font-family: inconsolata, monospace;
    font-size: 1em;
    padding: 1em 5em;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5em;
}
.image{
    margin: auto;
    padding: 3em;
}

img{
    width: 90%;
}

div.content {
    text-align: justify;
    margin: auto;
    color: #333333;
    padding: 0 5em;
    letter-spacing: -3.5%;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 94.78px;
    
}

.text{
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;
}

button {
    background-color: #333333;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 2em 3em;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    color: #BDBDBD;
    text-align: center;   
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    grid-area: footer;
}
.footer {
    margin-top: 6%;
}