*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'PT Serif', serif;
}

.container-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 32px;
    justify-content: center;
}

.container-header > div {
    background-color: #f1f1f1;
    text-align: left;
    padding: 20px 0;
}

.title-team {
    grid-column: 2 / span 2;
}

.description-team {
    grid-column: 4 / span 1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.description-team > h2 {
    font-weight: 600;
}

.description-team > p {
    font-weight: 400;
}

.container-body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 32px;
}

figure > img {
    width: 264px;
    height: 383px;
}

figure:nth-child(3n-1) {
    padding-top: 50px;
}